/* 土台・全体設定 */

* {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  overflow-x: hidden;
}

body {
  font-family: sans-serif;
  padding: 16px;
  background-color: #f5f5f7; /* 少し背景色をつけるとリストが際立ちます */
}

h1 {
  font-size: 18px;
  margin-bottom: 12px;
  text-align: center;
}