* {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  overflow-x: hidden;
}

body {
  font-family: sans-serif;
  padding: 16px;
}

.input-area,
#itemList {
  max-width: 480px;
  margin: 0 auto;
}


h1 {
  font-size: 18px;
  margin-bottom: 12px;
  text-align: center;
}

.input-area {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.input-area input,
.input-area button {
  width: 100%;
  padding: 8px;
  font-size: 16px; /* iOSズーム防止 */
}

input {
  flex: 1;
  padding: 12px;
  font-size: 16px;
  border-radius: 10px;
  border: 1px solid #ccc;
}

ul {
  padding-left: 0;
  margin: 0 0 16px 0;
  list-style: none;
}

li {
  background: #fff;
  padding: 14px;
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 12px;
}

.delete-btn {
  background: #ff3b30;
  border: none;
  color: #fff;
  font-size: 16px;
  border-radius: 8px;
  padding: 6px 10px;
}

@media (min-width: 768px) {
  /* 全体を少し広く */
  .input-area,
  #itemList {
    max-width: 800px;
  }

  /* 入力欄を横並びに */
  .input-area {
    flex-direction: row;
  }

  .input-area input {
    flex: 1;
  }

  .input-area button {
    width: 120px;
  }
}
